<h1>Головна сторінка</h1>
<h2>Pay</h2>
<%= form_for :Payment  do |f|%>
<p>
login <br>
<%= f.text_field :name %>
</p>
<p>
password <br>
<%= f.text_field  :password %>
</p>
<p>
bankAccount <br>
<%= f.text_field :accountNumber %>
</p>
<p>

Sum <br>
<%= f.text_field :balance %>
</p>
<p>

<%= f.submit %>
</p>
<% end %>